body {
    background-color: #aad4cf;
}

.main-con {
    background-color: #D4E9E7;
    width: fit-content;
    position: relative;
}
.nav-con {
    display: flex;
    flex-direction: row nowrap;
    align-items: center;
    justify-content: space-around;
    position: relative;
    width: 100%;
    height: 60px;
    z-index: 1;
}

fir-con {
    display: flex;
    flex-flow: row nowrap;
    width: 300px;
    z-index: 1;
}

.sec-con {
    align-items: flex-start;
    width: 1000px;
    height: 200px;
    margin: 0 auto;
}


.small {
    float: left;
    width: 100px;
    margin: 0 10px 5px 0;
}