body {
    background-color: #aad4cf;
}

.main-con {
    background-color: #D4E9E7;
    width: fit-content;
    position: relative;
}
.nav-con {
    display: flex;
    flex-direction: row;
    height: 200px;
    align-items: center;
}



.container {
    width: 400px;
    margin: 0 auto;
}


.small {
    float: left;
    width: 100px;
    margin: 0 10px 5px 0;
}