body {
    background-color: #aad4cf;
}

.nav-con {
    display: flex;
    flex-direction: row;
}



.container {
    width: 400px;
    margin: 0 auto;
}


.small {
    float: left;
    width: 100px;
    margin: 0 10px 5px 0;
}