body {
    background-color: #aad4cf;
}

.main-con {
    background-color: #D4E9E7;
    width: fit-content;
    position: relative;
}
.nav-con {
    display: flex;
    align-items: center;
}

.ul-nav {
    list-style-type: none;
    
}



.sec-con {
    align-items: flex-start;
    width: 1000px;
    height: 200px;
    margin: 0 auto;
}


.small {
    float: left;
    width: 100px;
    margin: 0 10px 5px 0;
}

h4 {
    text-align: right;
}